@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background text-foreground;
}

@layer base {
  :root {
    color-scheme: dark;
    --background: 0 0% 6%;
    --foreground: 160 6% 79%;
    --card: 0 0% 12%;
    --card-foreground: 160 6% 79%;
    --popover: 0 0% 12%;
    --popover-foreground: 160 6% 79%;
    --primary: 181 98% 50%;
    --primary-foreground: 0 0% 6%;
    --secondary: 160 6% 79%;
    --secondary-foreground: 0 0% 6%;
    --muted: 0 0% 12%;
    --muted-foreground: 160 6% 79%;
    --accent: 181 98% 50%;
    --accent-foreground: 0 0% 6%;
    --destructive: 17 100% 67%;
    --destructive-foreground: 0 0% 6%;
    --border: 160 6% 79%;
    --input: 0 0% 12%;
    --ring: 181 98% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
